// $font-stack:    Helvetica, sans-serif;
// $primary-color: purple;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

#board-size-x, #board-size-y {
  width: 80px;
}

.cell {
  position: relative;
}

.cell-image {
  position: absolute;
  left: 0px;
  top: 0px;
}