// $font-stack:    Helvetica, sans-serif;
// $primary-color: purple;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

#board-size-x, #board-size-y {
  width: 80px;
}

.cell {
  position: relative;
}

.cell-image {
  position: absolute;
  left: 0px;
  top: 0px;
}

.window {
  width: 300px;
  height: 485px;
  padding-left: 15px;
  color: #fff;
  background-color: #070179;
  border: solid 3px #6D685F;
  min-width: 300px;
  min-height: 80px;
}

.window-close-button {
  float: right;
  width: 20px;
  height: 20px;
}











































